---
title: About
permalink: /about/
layout: "layouts/base.html"
---

<div class="bg-cover bg-top bg-no-repeat w-full min-h-[394px] md:min-h-[738px] relative overflow-hidden" style="background-image: url(/assets/img/bg-cta-home.jpg);">
	<div class="absolute left-auto right-0 md:right-auto md:left-0 -bottom-3 md:-bottom-6 z-20 w-[125%] sm:w-auto">
		<img src="/assets/img/section-shape-off-white.svg" class="transform md:-scale-x-100" alt="shape image">
	</div>
</div>