---
title: Blog
permalink: /blog/
layout: "layouts/base.html"
---

<div class="bg-off-white relative overflow-hidden">
	<div class="hidden xl:block absolute -bottom-[35rem] -right-40">
		<img src="/assets/img/gray-kisses.png" alt="gray kisses">
	</div>
	<div class="container pt-56 md:pt-48 pb-28 md:pb-24 relative z-20">
		<div class="hidden xl:block absolute top-[18rem] right-0">
			<img src="/assets/img/kiss-pink-dark.png" class="h-24 sm:h-28 xl:h-36 2xl:h-[10.5rem] transform rotate-[-20deg]" alt="pink kiss image">
		</div>
		<div class="xl:px-20 2xl:px-40 relative z-30">
			<div class="md:w-4/5 lg:w-3/5 2xl:w-1/2 mx-auto md:text-center">
				<span class="flex md:justify-center items-baseline">
					<span>
						<h3 class="text-h-4 md:text-h-3 xl:text-h-2 text-black font-bold">Nieuws</h3>
					</span>
					<span class="pb-4 block">
						<img src="/assets/img/icon-green-stars.png" class="h-[60px]" alt="icon stars">
					</span>
				</span>
				<span class="text-black text-h-5 block pt-4 xl:pt-7">Het laatste nieuws rondom fillers, botox en PMU</span>
			</div>
			<div class="pt-7 md:pt-12 lg:pt-16 xl:pt-20 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-7 md:gap-4">
				{% for item in range(0,12) %}
				<div class="bg-white rounded-[25px] px-[18px] md:px-5 pt-[18px] pb-[18px] md:pb-5">
					<span>
						<img src="/assets/img/services-{{ loop.index }}.jpg" class="rounded-[25px] h-[225px] md:h-[287px] w-full object-cover" alt="botox image">
					</span>
					<div class="pt-4 md:pt-6">
						<h3 class="text-xl/[26px] xl:text-2xl/[32px] font-bold pb-4">Nieuwsbericht #1</h3>
						<p class="text-h-5 lg:min-h-[96px] lg:line-clamp-3">Een kleine ingreep met voor een mooie, frisse uitstraling. Vele enthousiaste klanten gingen je voor met onze FillerHouse lip fillers.</p>
						<div class="mt-5">
							<a href="/" class="!bg-[#e5055b] btn btn-primary md:!px-10">Lees verder</a>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="flex items-center justify-between gap-5 pt-7">
				<span class="block h-[70px]">
					<img src="/assets/img/icon-arrow-left.png" class="h-[70px]" alt="arrow left">
				</span>
				<span class="hidden lg:flex items-center gap-12">
					<span class="text-black text-h-5 font-bold block">1</span>
					<span class="text-black text-h-5 font-bold block">2</span>
					<span class="text-black text-h-5 font-bold block">3</span>
				</span>
				<span class="block h-[70px]">
					<img src="/assets/img/icon-arrow-left.png" class="transform rotate-180 h-[70px]" alt="arrow right">
				</span>
			</div>
		</div>
	</div>
</div>