---
title: Blog
permalink: /blog/
layout: "layouts/base.html"
---

<div class="relative overflow-hidden bg-off-white">
	<div class="absolute -bottom-[35rem] -right-40 hidden xl:block">
		<img
			src="/assets/img/gray-kisses.png"
			alt="gray kisses"
		/>
	</div>
	<div class="container relative z-20 pb-28 pt-56 md:pb-24 md:pt-48">
		<div class="absolute right-0 top-[18rem] hidden xl:block">
			<img
				src="/assets/img/kiss-pink-dark.png"
				class="h-24 rotate-[-20deg] transform sm:h-28 xl:h-36 2xl:h-[10.5rem]"
				alt="pink kiss image"
			/>
		</div>
		<div class="relative z-30 xl:px-20 2xl:px-40">
			<div class="mx-auto md:w-4/5 md:text-center lg:w-3/5 2xl:w-1/2">
				<span class="flex items-baseline md:justify-center">
					<span>
						<h3 class="text-h-4 md:text-h-3 xl:text-h-2 font-bold text-black">Nieuws</h3>
					</span>
					<span class="block pb-4">
						<img
							src="/assets/img/icon-green-stars.png"
							class="h-[60px]"
							alt="icon stars"
						/>
					</span>
				</span>
				<span class="text-h-5 block pt-4 text-black xl:pt-7">Het laatste nieuws rondom fillers, botox en PMU</span>
			</div>
			<div class="grid grid-cols-1 gap-7 pt-7 md:grid-cols-2 md:gap-4 md:pt-12 lg:pt-16 xl:grid-cols-3 xl:pt-20">
				{% for item in range(0,12) %}
				<div class="rounded-[15px] bg-white px-[18px] pb-[18px] pt-[18px] md:rounded-[25px] md:px-5 md:pb-5">
					<span>
						<img
							src="/assets/img/services-{{ loop.index }}.jpg"
							class="h-[225px] w-full rounded-[5px] object-cover md:h-[287px] md:rounded-[10px]"
							alt="botox image"
						/>
					</span>
					<div class="pt-4 md:pt-6">
						<h3 class="pb-4 text-xl/[26px] font-bold xl:text-2xl/[32px]">Nieuwsbericht #1</h3>
						<p class="text-h-5 lg:line-clamp-3 lg:min-h-[96px]">
							Een kleine ingreep met voor een mooie, frisse uitstraling. Vele enthousiaste klanten gingen je voor met
							onze FillerHouse lip fillers.
						</p>
						<div class="mt-5">
							<a
								href="/"
								class="btn btn-primary !bg-[#e5055b]"
							>
								<span class="btn-content md:!px-10"> Lees verder </span>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% include 'partials/pagination.html' %}
		</div>
	</div>
</div>
