---
title: Fillers
permalink: /fillers/
layout: "layouts/base.html"
---

<div class="">
	<div class="relative">
		<div class="absolute -bottom-3 left-0 z-20 w-[125%] sm:w-auto md:-bottom-6">
			<img
				src="/assets/img/section-shape-pink.svg" class="transform -scale-x-100"
				alt="shape image"
			/>
		</div>
		<div class="container relative z-20 pt-48 md:pt-60">
			<div class="xl:px-20 2xl:px-40">
				<div class="flex flex-col gap-10 md:gap-14 pb-14 md:pb-32 xl:flex-row xl:gap-11">
					<div class="w-full xl:w-2/5 2xl:w-1/2">
						<span class="flex items-baseline">
							<span>
								<h3 class="text-h-4 md:text-h-3 xl:text-h-2 font-bold text-black">Fillers</h3>
							</span>
							<span class="block pb-4">
								<img
									src="/assets/img/icon-green-stars.png"
									class="h-[60px]"
									alt="icon stars"
								/>
							</span>
						</span>
						<div class="pt-4 md:pt-7">
							<p class="text-h-5 text-black">
								Een filler is een effectief middel om plooien en rimpels op te vullen. Bij FillerHouse werken wij uitsluitend met oplosbare tijdelijke fillers op basis van hyaluronzuur. Er zijn verschillende soorten fillers, die elk hun specifieke eigenschappen hebben voor bijvoorbeeld diepere groeven, fijne lijntjes of volumeverlies. De duur van het effect hangt af van het product en het te behandelen gebied. FillerHouse werkt uitsluitend met A-merken, zoals Stylage en Teosyal.
							</p>
						</div>
						<div class="mt-10 md:mt-8">
							<a
								href="/"
								class="btn btn-primary text-center md:!px-10"
								>Plan jouw afspraak online</a
							>
						</div>
					</div>
					<div class="flex w-full gap-3 md:w-[96%] md:gap-8 lg:gap-[51px] xl:w-[55%] 2xl:w-1/2">
						<span class="w-1/2">
							<img
								src="/assets/img/services-16.jpg"
								class="effect-3d-image h-[235px] w-full rounded-[15px] object-cover sm:h-[300px] md:rounded-[25px] lg:h-[436px]"
								alt="image"
							/>
						</span>
						<span class="w-1/2">
							<span class="block pt-5 md:pt-[53px]">
								<img
									src="/assets/img/services-1.jpg"
									class="effect-3d-image h-[235px] w-full rounded-[15px] object-cover sm:h-[300px] md:rounded-[25px] lg:h-[436px]"
									alt="image"
								/>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-pink-medium">
		<div class="container relative pt-7 md:pt-10 pb-16 md:pb-[286px]">
			<div class="xl:px-20 2xl:px-40">
				<div>
					<span class="flex items-baseline">
						<span>
							<h3 class="text-[32px]/[38px] lg:text-h-3 font-bold text-white">Wanneer heb ik fillers nodig?</h3>
						</span>
						<span class="block pb-4 shrink-0">
							<img
								src="/assets/img/icon-green-stars.png"
								class="h-[60px]"
								alt="icon stars"
							/>
						</span>
					</span>
					<div class="pt-4">
						<p class="text-h-5 text-white">
							Een kleine ingreep voor een mooie, frisse uitstraling. <br/> Fillers zijn stoffen die geïnjecteerd worden in de huid voor <span class="text-lime font-bold italic">herstel en verjonging</span> van de huid. Ze worden ingezet bij de volgende behandelingen:
						</p>
					</div>
					<ul class="flex flex-wrap gap-2 xl:gap-8 justify-between pt-5">
						<li class="text-white text-h-5 flex gap-3 md:items-center">
							<span class="block shrink-0 pt-1.5 md:pt-0">
								<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
							</span>
							Vullen van rimpels en oneffenheden
						</li>
						<li class="text-white text-h-5 flex gap-3 md:items-center">
							<span class="block shrink-0 pt-1.5 md:pt-0">
								<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
							</span>
							Volumeherstel van het gezicht
						</li>
						<li class="text-white text-h-5 flex gap-3 md:items-center">
							<span class="block shrink-0 pt-1.5 md:pt-0">
								<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
							</span>
							Volume & contour van de lippen aanpassen
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-off-white pb-12 xl:pb-[70px] relative">
		<div class="hidden lg:block absolute -top-3 -left-[28rem] z-20 w-[125%] sm:w-auto md:-top-6">
			<img
				src="/assets/img/section-shape-pink.svg" class="transform rotate-180"
				alt="shape image"
			/>
		</div>
	</div>
	<div class="bg-white lg:bg-transparent relative z-50 -mt-[4rem] md:-mt-[19rem] lg:-mt-80 rounded-t-[25px] lg:rounded-t-0">
		<div class="container ">
			<div class="xl:px-20 2xl:px-40">
				<div class="bg-white pt-[50px] lg:p-[50px] lg:pr-[70px] lg:pb-[70px] rounded-[50px] lg:shadow-[5px_5px_25px_rgba(240,186,212,0.18)] flex flex-col lg:flex-row gap-12 md:gap-16 2xl:gap-32 items-center">
					<div class="2xl:pl-10 lg:w-3/5">
						<h3 class="text-[32px]/[38px] xl:text-h-3 font-bold text-black">Wanneer heb ik fillers nodig?</h3>
						<p class="text-h-5 text-black pt-7 xl:pt-2">
							Tijdens het intakegesprek bespreken we jouw wensen, waarna
							de specialist een persoonlijk behandelplan opstelt.
							Door combinatiebehandelingen met de verschillende hyaluronzuren
							en botox wordt gestreefd naar een mooi en natuurlijk resultaat.
							Het effect van een fillerbehandeling is direct zichtbaar en houdt minimaal 9 tot 12 maanden aan.
						</p>
						<span class="text-pink text-h-5 font-bold italic block pt-7">FillerHouse staat bekend om haar prachtige resultaten en vele tevreden klanten met lip fillers. </span>
					</div>
					<div class="w-full lg:w-2/5">
						<img src="/assets/img/services-1.jpg" class="rounded-[20px] effect-3d-image-small h-[302px] md:h-[378px] object-cover w-full" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="bg-off-white pt-16 md:pt-[650px] lg:pt-64 xl:pt-72 md:-mt-[600px] lg:-mt-[200px]">
			<div class="container">
				<div class="xl:px-20 2xl:px-40">
					<div class="w-full xl:w-2/3 2xl:w-[57%] mx-auto text-center pb-12 xl:pb-[70px]">
						<span class="flex justify-center items-baseline">
							<span>
								<h3 class="text-[32px] lg:text-h-3 font-bold text-black">Filler pakketten</h3>
							</span>
							<span class="block pb-4">
								<img
									src="/assets/img/icon-green-stars.png"
									class="h-[60px]"
									alt="icon stars"
								/>
							</span>
						</span>
						<div class="pt-4">
							<p class="text-h-5 text-black">
								Bij FillerHouse bieden we ook filler pakketten aan. Dit is ideaal, omdat je dan betaalt voor het aantal ml aan fillers en je zelf kan bepalen hoe de milliliters verspreid worden over je gezicht. Daarnaast hebben we ook de <span class="text-pink font-bold italic">Diamond, Platinum en Gold</span> pakketten, voor een kleine make-over waarmee je zeker de show zal stelen. Voor de mannen hebben we het <span class="text-pink font-bold italic">Mister Perfect pakket</span>.
							</p>
						</div>
						<div class="mt-10 md:mt-8 flex justify-center">
							<a
								href="/"
								class="btn btn-primary text-center md:!px-10"
								>Plan jouw afspraak online</a
							>
						</div>
					</div>
					<div class="pb-12 xl:pb-[100px] flex flex-col lg:flex-row gap-3 md:gap-5">
						<div
							class="flex w-full flex-col-reverse gap-[18px] md:gap-5 lg:flex-row">
							<span class="w-full xl:pt-2 lg:w-1/2 lg:pt-5">
								<img
									src="/assets/img/services-1.jpg"
									class="h-[162px] w-full rounded-[15px] object-cover sm:h-[275px] md:h-[360px] md:rounded-[50px] 2xl:h-[403px]"
									alt="image"
								/>
							</span>
							<div class="flex w-full flex-row items-end gap-2.5 lg:w-1/2 lg:flex-col lg:gap-0">
								<span class="block w-1/2 lg:w-full">
									<img
										src="/assets/img/services-6.jpg"
										class="h-[146px] w-full rounded-[15px] object-cover sm:h-[239px] md:rounded-[50px] 2xl:h-[183px]"
										alt="image"
									/>
								</span>
								<span class="block w-1/2 lg:pt-6 lg:w-full">
									<img
										src="/assets/img/services-3.jpg"
										class="h-[146px] w-full rounded-[15px] object-cover sm:h-[239px] md:rounded-[50px] lg:h-[239px] 2xl:h-[268px]"
										alt="image"
									/>
								</span>
							</div>
						</div>
						<div
							class="flex w-full flex-col-reverse gap-[18px] lg:flex-row lg:gap-5">
							<span class="w-full xl:pt-2 lg:w-1/2 lg:pt-5">
								<img
									src="/assets/img/services-1.jpg"
									class="h-[162px] w-full rounded-[15px] object-cover sm:h-[275px] md:h-[360px] md:rounded-[50px] 2xl:h-[403px]"
									alt="image"
								/>
							</span>
							<div class="flex w-full flex-row items-end gap-2.5 lg:w-1/2 lg:flex-col lg:gap-0">
								<span class="block w-1/2 lg:w-full">
									<img
										src="/assets/img/services-6.jpg"
										class="h-[146px] w-full rounded-[15px] object-cover sm:h-[239px] md:rounded-[50px] 2xl:h-[183px]"
										alt="image"
									/>
								</span>
								<span class="block w-1/2 xl:pt-6 lg:w-full">
									<img
										src="/assets/img/services-3.jpg"
										class="h-[146px] w-full rounded-[15px] object-cover sm:h-[239px] md:rounded-[50px] lg:h-[239px] 2xl:h-[268px]"
										alt="image"
									/>
								</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-12 md:gap-9 xl:flex-row pb-12 md:pb-[70px]">
						<div class="xl:w-1/2">
							<h3 class="lg:text-4xl text-[32px] font-bold text-black leading-tight">Oplossen of verwijderen fillers </h3>
							<p class="text-h-5 pt-4 lg:pt-8">
								Wanneer het effect van een filler behandeling niet naar wens is, kun je de filler laten verwijderen met hyaluronidase. Dit is een enzym dat de fillers als het ware laat oplossen en deze door het lichaam kan worden afgevoerd. Het effect hiervan is vaak direct al zichtbaar en soms binnen enkele dagen.
								<span class="text-pink font-bold italic">Het oplossen van fillers kan vanaf € 100,-.</span>
							</p>
						</div>
						<div class="xl:w-1/2">
							<h3 class="lg:text-4xl text-[32px] font-bold text-black leading-tight">Profhilo anti-aging behandeling</h3>
							<p class="text-h-5 pt-4 lg:pt-8">
								Zorg voor een strakke huid met een Profhilo anti-aging behandeling die rimpels van binnenuit helpt genezen.
							</p>
							<div class="mt-6">
								<a
									href="/"
									class="btn btn-primary text-center md:!px-10"
									>Plan jouw afspraak online</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container pb-[86px] md:pb-[100px]">
		<div class="md:effect-top-curve relative overflow-hidden bg-white pt-[100px] md:pt-16">
			<div class="xl:px-20 2xl:px-40">
				<div class="max-w-[872px] mx-auto pb-12 md:pb-[76px]">
					<div class="lg:w-4/5 mx-auto md:text-center pb-[76px]">
						<h3 class="text-[32px] leading-tight lg:text-4xl/[64px] font-bold text-black md:text-center">Niet gevonden wat je zocht?</h3>
						<p class="text-h-5">Wil je rimpels in de bovenste helft van je gezicht laten verdwijnen of verminderen?
							Dan is <span class="font-bold text-pink italic">botox</span> iets voor jou.</p>
						<div class="mt-5 flex md:justify-center">
							<a
								href="/"
								class="btn btn-primary text-center md:!px-10"
								>Meer over Botox</a
							>
						</div>
					</div>
					<div>
						<h3 class="text-[32px] leading-tight lg:text-4xl/[64px] font-bold text-black md:text-center">Alles voor het beste restultaat</h3>
						<div class="pt-2 md:pt-7">
							<span class="pb-6 block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Hyaluronzuur </h4>
								<p class="pb-6 text-h-5">Hyaluronzuur komt van nature voor in onze huid en zorgt voor stevigheid en elasticiteit van de huid. Naarmate we ouder worden, neemt de aanmaak van hyaluronzuur geleidelijk af. Dit zorgt voor volumeverlies en zo ontstaan rimpels.</p>
								<p class="text-h-5">Door het inbrengen van kleine hoeveelheden hyaluronzuur in de vorm van een heldere, niet-dierlijke, biologisch afbreekbare gel, wordt het vochtgehalte van de huid hersteld. Rimpels zullen daarmee verzachten of zelfs verdwijnen, maar er kan ook meer volume en contour gegeven worden aan je gezicht of lippen.</p>
							</span>
							<span class="pb-6 block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Hoe werkt het? </h4>
								<p class="text-h-5">Profhilo stimuleert elastine (rekbaarheid), collageen (stevigheid) en onderhuids vet. Het is een unieke samenstelling van hyaluronzuur, maar geen filler. Het hyaluronzuur activeert het huideigen elastine en collageen. Dit zorgt ervoor dat de huid verbetert, maar het uiterlijk niet verandert. Het voegt immers geen volume toe aan het gezicht. De huid wordt weer stevig en gezond in de verschillende huidlagen, met als resultaat dat je huid een prachtige glow krijgt!</p>
							</span>
							<span class="pb-6 block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Wat doet Profhilo?</h4>
								<ul class="space-y-1">
									<li class="text-black text-h-5 flex gap-3 md:items-center">
										<span class="block shrink-0 pt-2 md:pt-0">
											<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
										</span>
										Stimuleert de aanmaak van collageen, elastine en zelfs vetweefsel
									</li>
									<li class="text-black text-h-5 flex gap-3 items-center">
										<span class="block shrink-0">
											<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
										</span>
										Verminderd fijne lijntjes en acne
									</li>
									<li class="text-black text-h-5 flex gap-3 items-center">
										<span class="block shrink-0">
											<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
										</span>
										Verstevigt de huid
									</li>
									<li class="text-black text-h-5 flex gap-3 items-center">
										<span class="block shrink-0">
											<img src="/assets/img/icon-check-green.png" class="h-[22px]" alt="icon check green">
										</span>
										Verkleind de poriën
									</li>
								</ul>
							</span>
							<div class="pb-6 block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Behandeling met Profhilo </h4>
								<p class="text-h-5">Voor het beste resultaat is er meer dan één behandeling nodig. De tweede behandeling vindt één maand na de eerste behandeling plaats. Na de tweede behandeling stijgt de aanmaak van collageen en elastine nog verder. Een langdurig resultaat behaal je door de behandeling ongeveer iedere 6 maanden te herhalen. Zo blijf je je stralende huid behouden en worden fijne lijntjes vervaagd.</p>
							</div>
							<span class="pb-6 block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Is een Profhilo behandeling geschikt voor mij?</h4>
								<p class="text-h-5">Onze Prohfilo anti-aging behandeling is geschikt voor mensen vanaf 30 jaar die last hebben van huidveroudering, volumeverlies in het gezicht of een droge, doffe of vermoeide huid.</p>
							</span>
							<span class="block">
								<h4 class="text-pink font-bold text-lg md:text-2xl pb-1 md:pb-2">Nazorg</h4>
								<p class="pb-6 text-h-5">De nazorg van een Profhilo behandeling is vergelijkbaar met de nazorg van een fillerbehandeling. Wij raden een bezoek aan de sauna en/of zonnebank af. Ook intensieve sportieve activiteiten kun je het beste vermijden vlak na de behandeling.</p>
								<p class="text-h-5">De prijs van een Profhilo behandeling is €253,-.</p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="xl:px-20 2xl:px-40">
			<div class="max-w-[872px] mx-auto pb-12 md:pb-[76px]">
				<h3 class="text-[32px] lg:text-4xl/[64px] font-bold text-black md:text-center">Prijslijst</h3>
				<div class="flex justify-between gap-8 items-center border-b border-solid border-[#f4f4f4] pb-[18px] md:pb-4 pt-9">
					<div class="flex items-center">
						<span class="shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
						</span>
						<span class="text-black text-xl md:text-2xl font-bold block pl-3.5 md:pl-3">Filler behandelingen</span>
					</div>
					<div class="flex items-center">
						<a href="/" class="text-[#c1c1c1] text-lg underline hidden md:block pr-[18px]">Bekijk behandelingen</a>
						<span class="shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
						</span>
					</div>
				</div>
				<div class="hidden xl:block">
					<table class="table table-auto w-full text-left text-black mt-3">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50">
								<tr>
										<th scope="col" class="w-[55%] px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
											Behandeling
										</th>
										<th scope="col" class="px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
												Prijs:
										</th>
										<th scope="col" class="px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
												<span class="sr-only">Edit</span>
										</th>
								</tr>
						</thead>
						<tbody>
								<tr class="bg-white border-b border-[#f4f4f4] ">
										<th scope="row" class="px-[30px] py-2 font-normal  whitespace-nowrap dark:text-white">
											Frons,voorhoofd & kraaienpootjes (3 zones)
										</th>
										<td class="px-[30px] py-2">
												€ 220,-
										</td>
										<td class="pl-[30px] py-2">
											<div class="flex items-center justify-end">
												<a href="/" class="text-[#c1c1c1] text-lg underline hidden md:block pr-px">Bekijk behandelingen</a>
												<span class="shrink-0">
													<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
												</span>
											</div>
										</td>
								</tr>
								<tr class="bg-off-white border-b border-[#f4f4f4] ">
									<th scope="row" class="px-[30px] py-2 font-normal  whitespace-nowrap dark:text-white">
										Frons & voorhoofd (2 zones)
									</th>
									<td class="px-[30px] py-2">
											€ 175,-
									</td>
									<td class="pl-[30px] py-2">
										<div class="flex items-center justify-end">
											<a href="/" class="text-[#c1c1c1] text-lg underline hidden md:block pr-px">Bekijk behandelingen</a>
											<span class="shrink-0">
												<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
											</span>
										</div>
									</td>
							</tr>
							<tr class="bg-white">
								<th scope="row" class="px-[30px] py-2 font-normal  whitespace-nowrap dark:text-white">
									Frons
								</th>
								<td class="px-[30px] py-2">
										€ 100,-
								</td>
								<td class="pl-[30px] py-2">
									<div class="flex items-center justify-end">
										<a href="/" class="text-[#c1c1c1] text-lg underline hidden md:block pr-px">Bekijk behandelingen</a>
										<span class="shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
										</span>
									</div>
								</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="block xl:hidden">
					<table class="table table-auto w-full text-left text-black mt-3">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50">
								<tr>
										<th scope="col" class="w-2/3 sm:w-5/6 pr-6 md:px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
											Behandeling
										</th>
										<th scope="col" class="w-1/3 sm:w-1/6 text-right px-6 py-2 font-bold text-pink-medium text-lg capitalize">
												Prijs:
										</th>
								</tr>
						</thead>
						<tbody>
								<tr class="bg-white border-b border-[#f4f4f4]">
										<th scope="row" class="md:px-[30px] py-2 font-normal">
											<span class=" block text-lg">Frons,voorhoofd & kraaienpootjes (3 zones)</span>
											<div class="flex items-center">
												<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
												<span class="shrink-0">
													<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
												</span>
											</div>
										</th>
										<td class="px-4 text-right align-top py-2 text-lg">
												€ 220,-
										</td>
								</tr>
								<tr class="bg-off-white border-b border-[#f4f4f4]">
									<th scope="row" class="md:px-[30px] py-2 font-normal">
										<span class=" block text-lg">Frons & voorhoofd (2 zones)</span>
										<div class="flex items-center">
											<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
											<span class="shrink-0">
												<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
											</span>
										</div>
									</th>
									<td class="px-4 text-right align-top py-2">
											€ 175,-
									</td>
							</tr>
							<tr class="bg-white">
								<th scope="row" class="md:px-[30px] py-2 font-normal">
									<span class=" block text-lg">Frons</span>
									<div class="flex items-center">
										<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
										<span class="shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
										</span>
									</div>
								</th>
								<td class="px-4 text-right align-top py-2">
										€ 100,-
								</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="max-w-[872px] mx-auto">
				<h3 class="text-[32px] lg:text-4xl/[64px] font-bold text-black md:text-center">FaQ fillers</h3>
				<div class="pt-7">
					<div class="py-2">
						<div class="flex items-center justify-between gap-5">
							<span class="text-pink font-bold text-lg block"><span class="text-black">1.</span>  Hoe werkt een filler behandeling?</span>
							<span class="shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
							</span>
						</div>
						<p class="text-h-5 text-black pt-1">Tijdens een filler behandeling worden fijne lijntjes en rimpels als het ware opgevuld met een opvulmiddel. Dit wordt ook wel hyaluronzuur genoemd. Deze stof wordt met een hele dunne naald ingebracht op de gewenste plek. Het is ook mogelijk om met fillers bijvoorbeeld de lippen voller te maken, ook wel een lipvergroting genoemd. Daarnaast kunnen fillers worden toegepast bij bijvoorbeeld de jukbeenderen, wangen, kaaklijn en de kin.</p>
					</div>
					<div class="bg-off-white py-2">
						<div class="flex items-center justify-between gap-5">
							<span class="text-pink font-bold text-lg block"><span class="text-black">2.</span> Wat kan ik verwachten na de fillers?</span>
							<span class="shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
							</span>
						</div>
					</div>
					<div class="py-2">
						<div class="flex items-center justify-between gap-5">
							<span class="text-pink font-bold text-lg block"><span class="text-black">3.</span>  Hoe werkt een filler behandeling?</span>
							<span class="shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
							</span>
						</div>
					</div>
					<div class="bg-off-white py-2">
						<div class="flex items-center justify-between gap-5">
							<span class="text-pink font-bold text-lg block"><span class="text-black">4.</span> Waardoor worden rimpels veroorzaakt?</span>
							<span class="shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
