---
title: Price
permalink: /price/
layout: "layouts/base.html"
---

<div
	class="relative min-h-[394px] w-full overflow-hidden bg-cover bg-top bg-no-repeat sm:min-h-[440px] md:min-h-[490px] lg:min-h-[550px] xl:min-h-[738px]"
	style="background-image: url(/assets/img/bg-price.jpg)"
>
	<div class="absolute -bottom-3 left-auto right-0 z-20 w-[125%] sm:w-auto md:-bottom-6 md:left-0 md:right-auto">
		<img
			src="/assets/img/section-shape-white.svg"
			class="transform -scale-x-100"
			alt="shape image"
		/>
	</div>
</div>
<div class="container pb-[86px] md:pb-18 pt-7 md:pt-6">
	<div class="xl:px-20 2xl:px-40">
		<div>
			<div class="flex justify-between gap-8 items-center border-b border-solid border-[#f4f4f4] py-[18px] md:py-4">
				<div class="flex items-center">
					<span class="shrink-0">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
					</span>
					<span class="text-black text-xl md:text-2xl font-bold block pl-3.5 md:pl-3">PDO Draadlift</span>
				</div>
				<div class="flex items-center">
					<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-[18px]">Bekijk behandelingen</a>
					<span class="shrink-0">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
					</span>
				</div>
			</div>
			<div class="hidden xl:block">
				<table class="table table-auto w-full text-left text-black mt-3">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50">
							<tr>
									<th scope="col" class="w-2/3 2xl:w-[70%] px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
										Behandeling
									</th>
									<th scope="col" class="px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
											Prijs:
									</th>
									<th scope="col" class="px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
											<span class="sr-only">Edit</span>
									</th>
							</tr>
					</thead>
					<tbody>
							<tr class="bg-white border-b border-[#f4f4f4] ">
									<th scope="row" class="px-[30px] py-2 font-normal text-gray-900 whitespace-nowrap dark:text-white">
										Frons,voorhoofd & kraaienpootjes (3 zones)
									</th>
									<td class="px-[30px] py-2">
											€ 220,-
									</td>
									<td class="pl-[30px] py-2">
										<div class="flex items-center justify-end">
											<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-px">Bekijk behandelingen</a>
											<span class="shrink-0">
												<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
											</span>
										</div>
									</td>
							</tr>
							<tr class="bg-off-white border-b border-[#f4f4f4] ">
								<th scope="row" class="px-[30px] py-2 font-normal text-gray-900 whitespace-nowrap dark:text-white">
									Frons & voorhoofd (2 zones)
								</th>
								<td class="px-[30px] py-2">
										€ 175,-
								</td>
								<td class="pl-[30px] py-2">
									<div class="flex items-center justify-end">
										<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-px">Bekijk behandelingen</a>
										<span class="shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
										</span>
									</div>
								</td>
						</tr>
						<tr class="bg-white">
							<th scope="row" class="px-[30px] py-2 font-normal text-gray-900 whitespace-nowrap dark:text-white">
								Frons
							</th>
							<td class="px-[30px] py-2">
									€ 100,-
							</td>
							<td class="pl-[30px] py-2">
								<div class="flex items-center justify-end">
									<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-px">Bekijk behandelingen</a>
									<span class="shrink-0">
										<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
									</span>
								</div>
							</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="block xl:hidden">
				<table class="table table-auto w-full text-left text-black mt-3">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50">
							<tr>
									<th scope="col" class="w-2/3 sm:w-5/6 pr-6 md:px-[30px] py-2 font-bold text-pink-medium text-lg capitalize">
										Behandeling
									</th>
									<th scope="col" class="w-1/3 sm:w-1/6 text-right px-6 py-2 font-bold text-pink-medium text-lg capitalize">
											Prijs:
									</th>
							</tr>
					</thead>
					<tbody>
							<tr class="bg-white border-b border-[#f4f4f4]">
									<th scope="row" class="md:px-[30px] py-2 font-normal">
										<span class="text-gray-900 block text-lg">Frons,voorhoofd & kraaienpootjes (3 zones)</span>
										<div class="flex items-center">
											<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
											<span class="shrink-0">
												<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
											</span>
										</div>
									</th>
									<td class="px-4 text-right align-top py-2 text-lg">
											€ 220,-
									</td>
							</tr>
							<tr class="bg-off-white border-b border-[#f4f4f4]">
								<th scope="row" class="md:px-[30px] py-2 font-normal">
									<span class="text-gray-900 block text-lg">Frons & voorhoofd (2 zones)</span>
									<div class="flex items-center">
										<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
										<span class="shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
										</span>
									</div>
								</th>
								<td class="px-4 text-right align-top py-2">
										€ 175,-
								</td>
						</tr>
						<tr class="bg-white">
							<th scope="row" class="md:px-[30px] py-2 font-normal">
								<span class="text-gray-900 block text-lg">Frons</span>
								<div class="flex items-center">
									<a href="/" class="text-[#c1c1c1] text-lg underline pr-px">Bekijk behandelingen</a>
									<span class="shrink-0">
										<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px] transform -rotate-90" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
									</span>
								</div>
							</th>
							<td class="px-4 text-right align-top py-2">
									€ 100,-
							</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="flex justify-between gap-8 items-center border-b border-solid border-[#f4f4f4] py-[18px] md:py-4">
			<div class="flex items-center">
				<span class="shrink-0">
					<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
				</span>
				<span class="text-black text-xl md:text-2xl font-bold block pl-3.5 md:pl-3">Lipo injections</span>
			</div>
			<div class="flex items-center">
				<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-[18px]">Bekijk behandelingen</a>
				<span class="shrink-0">
					<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
				</span>
			</div>
		</div>
		<div class="flex justify-between gap-8 items-center border-b border-solid border-[#f4f4f4] py-[18px] md:py-4">
			<div class="flex items-center">
				<span class="shrink-0">
					<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
				</span>
				<span class="text-black text-xl md:text-2xl font-bold block pl-3.5 md:pl-3">Lipo injections</span>
			</div>
			<div class="flex items-center">
				<a href="/" class="text-[#c1c1c1] text-lg/[42px] underline hidden md:block pr-[18px]">Bekijk behandelingen</a>
				<span class="shrink-0">
					<svg xmlns="http://www.w3.org/2000/svg" fill="#f70766" class="h-[18px]" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
				</span>
			</div>
		</div>
	</div>
</div>