@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-rubik antialiased;
	}

	[x-cloak] {
		@apply !hidden;
	}
}

@layer components {
	.btn {
		@apply text-h-5 hover:effect-3d-button inline-block rounded-full px-11 py-5 font-bold transition-all duration-300 hover:-translate-x-[15px] hover:-translate-y-[15px];
	}
	.btn-primary {
		@apply bg-pink text-white;
	}
	.btn-secondary {
		@apply bg-lime text-black;
	}
}

@layer utilities {
	.text-h-1 {
		@apply text-[80px]/[95px];
	}

	.text-h-2 {
		@apply text-[56px]/[64px];
	}

	.text-h-3 {
		@apply text-4xl/[56px];
	}

	.text-h-4 {
		@apply text-[32px]/[38px];
	}

	.text-h-5 {
		@apply text-lg/[32px];
	}

	.effect-top-curve {
		clip-path: ellipse(150% 90% at 50% 90%);
	}

	.effect-3d-image {
		@apply relative overflow-hidden rounded-[15px];
		box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662;
	}

	@screen md {
		.effect-3d-image {
			box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662, 20px 20px #c50662,
				25px 25px #c50662;
		}
	}

	@screen xl {
		.effect-3d-image {
			box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662, 20px 20px #c50662,
				25px 25px #c50662, 30px 30px #c50662, 35px 35px #c50662;
		}
	}

	.effect-3d-button {
		@apply relative overflow-hidden rounded-[50px];
		box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662;
	}
}
