@import "fonts.css";
@import "swiper/css/bundle";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-rubik antialiased;
	}

	[x-cloak] {
		@apply !hidden;
	}
}

.swiper {
	.swiper-pagination-bullet {
		background: none;
		margin: 0 !important;
		@apply inline-flex h-6 w-6 items-center justify-center  rounded-full border border-solid border-[#efefef] !opacity-100 !important;

		.bullet-inside {
			@apply flex h-3 w-3 items-center rounded-full border-2 border-solid border-pink bg-white;
		}

		.bullet-active {
			@apply hidden;
		}

		&.swiper-pagination-bullet-active {
			@apply inline-block h-8 w-8 rounded-none border-0 border-transparent !important;

			.bullet-inside {
				@apply hidden;
			}

			.bullet-active {
				@apply block h-8 w-8;
			}
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		@apply bottom-0 text-left;
	}
}

@layer components {
	.btn {
		@apply relative inline-block rounded-[50px] after:absolute after:inset-0 after:h-full after:w-full after:rounded-[50px] ;

		.btn-content {
			@apply text-h-5 relative z-10 block rounded-[50px] px-11 py-5 font-bold transition-all duration-300;

			&.active {
				@apply -translate-x-[15px] -translate-y-[15px];
			}
		}

		&:hover {
			.btn-content {
				@apply -translate-x-[15px] -translate-y-[15px];
			}
		}
	}

	.btn-primary {
		@apply after:bg-[#c50662];
		.btn-content {
			@apply bg-pink text-white;
		}
	}

	.btn-secondary {
		@apply after:bg-green-dark;

		.btn-content {
			@apply bg-lime text-black;
		}
	}
}

@layer utilities {
	.text-h-1 {
		@apply text-[80px]/[95px];
	}

	.text-h-2 {
		@apply text-[56px]/[64px];
	}

	.text-h-3 {
		@apply text-4xl/[56px];
	}

	.text-h-4 {
		@apply text-[32px]/[38px];
	}

	.text-h-5 {
		@apply text-lg/[32px];
	}

	.effect-top-curve {
		clip-path: ellipse(150% 90% at 50% 90%);
	}

	.effect-top-curve-subtle {
		clip-path: ellipse(200% 90% at 50% 90%);
	}

	.effect-3d-image-small {
		@apply relative overflow-hidden rounded-[15px];
		box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662;
	}

	.effect-3d-image {
		@apply relative overflow-hidden rounded-[15px];
		box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662;
	}

	.green-kiss {
		@apply absolute bottom-[26rem] left-44 top-auto;
	}

	@screen sm  {
		.green-kiss {
			@apply bottom-auto left-76 top-[37rem];
		}
	}

	@screen md {
		.effect-3d-image {
			box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662, 20px 20px #c50662,
				25px 25px #c50662;
		}
		.green-kiss {
			@apply left-84 top-[34rem];
		}
	}

	@screen lg {
		.effect-3d-image-small {
			@apply relative overflow-hidden rounded-[15px];
			box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662, 20px 20px #c50662;
		}
		.green-kiss {
			@apply left-0 top-[32rem];
		}
	}

	@screen xl {
		.effect-3d-image {
			box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662, 20px 20px #c50662,
				25px 25px #c50662, 30px 30px #c50662, 35px 35px #c50662;
		}
		.green-kiss {
			@apply top-40 z-20;
		}
	}

	@screen 2xl {
		.green-kiss {
			@apply left-16 top-52;
		}
	}

	@media (min-width: 1672px) and  (max-width: 1850px) {
		.green-kiss {
			@apply left-4 top-24 z-10;
		}
  }

	.effect-3d-button {
		@apply relative overflow-hidden rounded-[50px];
		box-shadow: 2.5px 2.5px #c50662, 5px 5px #c50662, 10px 10px #c50662, 15px 15px #c50662;
	}
	.effect-3d-button-green {
		@apply relative overflow-hidden rounded-[50px];
		box-shadow: 2.5px 2.5px #11A500, 5px 5px #11A500, 10px 10px #11A500, 15px 15px #11A500;
	}

	.effect-3d-button-transparent {
		@apply relative overflow-hidden rounded-[50px];
		box-shadow: 2.5px 2.5px transparent, 5px 5px transparent, 10px 10px transparent, 15px 15px transparent;
	}



}
