<meta
	name="description"
	content="{{ metaDescription or description or global.siteDescription }}"
/>

<meta
	property="og:title"
	content="{{ metaTitle or title or global.siteTitle }} | {{ global.siteName }}"
/>

<meta
	property="og:locale"
	content="en_US"
/>

<meta
	property="og:type"
	content="website"
/>

<meta
	property="og:site_name"
	content="{{ global.siteName }}"
/>

{#
<meta
	property="og:image"
	content="{{ global.siteUrl }}/assets/img/"
/>

<link
	rel="canonical"
	href="{{ global.siteUrl }}{{ page.url }}"
/>

<meta
	property="og:url"
	content="{{ global.siteUrl }}{{ page.url }}"
/>
#}

<meta
	name="twitter:card"
	content="summary_large_image"
/>

<meta
	name="twitter:site"
	content="@"
/>

<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/assets/favicon/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/assets/favicon/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/assets/favicon/favicon-16x16.png"
/>
<link
	rel="manifest"
	href="/assets/favicon/site.webmanifest"
/>
<meta
	name="msapplication-TileColor"
	content="#f70766"
/>
<meta
	name="theme-color"
	content="#f70766"
/>
