<div class="flex items-center justify-between gap-5 pt-7">
	<a
		href="/"
		class="block h-[70px]"
	>
		<img
			src="/assets/img/icon-arrow-left.png"
			class="h-[70px]"
			alt="arrow left"
		/>
	</a>
	<div class="hidden w-1/2 items-center justify-center gap-12 border-t border-black/10 lg:flex">
		<div class="hidden md:-mt-px md:flex">
			<a
				href="#"
				class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>1</a
			>
			<a
				href="#"
				class="-mt-[0.5px] inline-flex items-center border-t-4 border-pink px-4 pt-4 text-lg font-bold text-black"
				>2</a
			>
			<a
				href="#"
				class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>3</a
			>
			<span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>...</span
			>
			<a
				href="#"
				class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>8</a
			>
			<a
				href="#"
				class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>9</a
			>
			<a
				href="#"
				class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-lg font-bold text-black"
				>10</a
			>
		</div>
	</div>
	<a
		href="/"
		class="block h-[70px]"
	>
		<img
			src="/assets/img/icon-arrow-left.png"
			class="h-[70px] rotate-180 transform"
			alt="arrow right"
		/>
	</a>
</div>
